.wp-block-block-templates-card-grid.is-selected {
	background-color: #9bcae0;
}

.wp-block-block-templates-card-grid.wp-block .block-editor-block-list__layout {
	display: grid;
	grid-gap: 12px;
	padding: 8px;
}

.wp-block-block-templates-card-grid.wp-block.has-2-columns .block-editor-block-list__layout {
	grid-template-columns: repeat(2, 1fr);
}

.wp-block-block-templates-card-grid.wp-block.has-3-columns .block-editor-block-list__layout {
	grid-template-columns: repeat(3, 1fr);
}

.wp-block-block-templates-card-grid.wp-block.has-4-columns .block-editor-block-list__layout {
	grid-template-columns: repeat(4, 1fr);
}

.wp-block-block-templates-card-grid.wp-block.has-5-columns .block-editor-block-list__layout {
	grid-template-columns: repeat(5, 1fr);
}